@media (max-width: 794px) {
  .header {
    flex-direction: column;
    align-items: center;
    gap: 15px;

    .navbar {
      margin-left: 50px;
    }
  }

  .hero {
    flex-direction: column;
    gap: 50px;
    width: 100%;
  }

  .services {
    flex-direction: column;
    gap: 50px;

    .quote-btn {
      position: relative;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}

@media (max-width: 560px) {
  .hero {
    .hero-content {
      h2 {
        font-size: 3rem;
        line-height: normal;
      }

      p {
        display: none;
      }
    }
  }
  .infos {
    flex-direction: column;
    gap: 50px;
    justify-content: center;
    align-items: center;
  }

  .services {
    display: block;
    margin: auto;
    font-size: 2.8rem;

    .services-content {
      margin-bottom: 50px;
    }

    .services-cards {
      flex-direction: column;
      align-items: center;
      gap: 20px;

      .card {
        margin: 0;
      }
    }
  }

  .footer {
    h3,
    p {
      max-width: 50%;
      text-align: center;
    }
  }
}
