$black: #000000;
$gray: #353535;
$marine: #151F35;
$blue: #248DE9;
$gradient-blue: linear-gradient(0deg, #0C78D7 0%, #439DEC 50%, #0C78D7 100%);
$gradient-gray: linear-gradient(0deg, #FFFFFF 0%, #EEEEEE 50%, #FFFFFF 100%);
$white: #FFFFFF;
$white-ice: #F6F7F9;
$light-gray: #BBBBBB;
$light-gray2: #DEDEDE;