* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  font-size: 62.5%;
  list-style: none;
}

body {
  max-width: 100vw;
  height: 100vh;
  background-color: #F6F7F9;
}

a {
  text-decoration: none;
}

.quote-btn {
  padding: 11px 32px;
  font-size: 1.6rem;
  background-color: #248DE9;
  color: #FFFFFF;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.header {
  background-color: #151F35;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 30px 0;
  width: 100%;
}
.header .navbar ul {
  display: flex;
  justify-content: space-evenly;
}
.header .navbar ul li {
  font-size: 2.4rem;
  margin-right: 20px;
}
.header .navbar ul li a {
  color: #FFFFFF;
}
.header .navbar ul li :hover {
  font-weight: 700;
}

.hero {
  background-color: #151F35;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 55px 0 120px;
  width: 100%;
}
.hero .hero-content {
  display: flex;
  flex-direction: column;
  color: #FFFFFF;
  width: 440px;
  max-width: 50%;
}
.hero .hero-content h2 {
  font-size: 4.2rem;
  line-height: 63px;
  margin-bottom: 35px;
}
.hero .hero-content p {
  font-size: 1.6rem;
  line-height: 24px;
  margin-bottom: 45px;
}
.hero .hero-content .quote-btn {
  width: 219px;
}
.hero .hero-image {
  max-width: 50%;
}
.hero .hero-image img {
  width: 330px;
  max-width: 100%;
}

.infos {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 95px 0 125px;
  width: 100%;
}
.infos .info {
  font-size: 2.4rem;
  text-align: center;
  color: #353535;
  font-weight: 500;
}
.infos .info span {
  display: block;
  font-size: 4.2rem;
  font-weight: 700;
  line-height: 63px;
  color: #000000;
}

.services {
  width: 100%;
  background-color: #FFFFFF;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 93px 70px;
}
.services .services-content {
  width: 495px;
  max-width: 100%;
}
.services .services-content h2 {
  font-size: 4.2rem;
  line-height: 63px;
  margin-bottom: 23px;
}
.services .services-content p {
  font-size: 1.6rem;
  line-height: 24px;
  margin-bottom: 38px;
  width: 90%;
}
.services .services-content .quote-btn {
  max-width: 244px;
}
.services .services-cards {
  display: flex;
  max-width: 100%;
}
.services .services-cards .card {
  max-width: 272px;
  max-height: 305px;
  margin-right: 10px;
  padding: 30px 17px 60px 25px;
  background: linear-gradient(0deg, #FFFFFF 0%, #EEEEEE 50%, #FFFFFF 100%);
  border-radius: 16px;
}
.services .services-cards .card h3 {
  font-size: 1.6rem;
  margin-bottom: 20px;
}
.services .services-cards .card p {
  font-size: 1.2rem;
}
.services .services-cards .card .card-icon {
  width: 80px;
  height: 80px;
  background-color: #DEDEDE;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFFFFF;
  font-size: 4rem;
  margin-bottom: 20px;
}
.services .services-cards .blue {
  background: linear-gradient(0deg, #0C78D7 0%, #439DEC 50%, #0C78D7 100%);
  color: #FFFFFF;
}
.services .services-cards .blue .card-icon {
  background-color: rgba(253, 253, 253, 0.35);
}

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 50%;
  margin: 70px auto;
}
.about h3 {
  font-size: 4.2rem;
  letter-spacing: 15px;
  margin-bottom: 23px;
}
.about p {
  font-size: 1.6rem;
  line-height: 25px;
  text-align: left;
  margin-bottom: 13px;
  font-weight: 500;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FFFFFF;
  padding: 70px 0 20px;
  width: 100%;
}
.footer h3 {
  font-size: 3.3rem;
  margin-bottom: 6px;
}
.footer p {
  font-size: 1.4rem;
  font-weight: 500;
}
.footer .form {
  background-color: #F6F7F9;
  padding: 50px 75px;
  width: 560px;
  max-width: 90%;
  margin-top: 60px;
  border-radius: 8px;
}
.footer .form form {
  display: flex;
  flex-direction: column;
}
.footer .form form input {
  height: 42px;
  margin-bottom: 26px;
  font-size: 1.6rem;
  font-weight: 500;
  padding: 9px 12px;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}
.footer .copyright {
  margin: 87px auto 0;
  text-align: center;
}
.footer .copyright p {
  margin: 0 auto 5px;
}
.footer .copyright a {
  font-size: 1.4rem;
  color: #248DE9;
}
.footer .copyright a:hover {
  text-decoration: underline;
}

@media (max-width: 794px) {
  .header {
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }
  .header .navbar {
    margin-left: 50px;
  }
  .hero {
    flex-direction: column;
    gap: 50px;
    width: 100%;
  }
  .services {
    flex-direction: column;
    gap: 50px;
  }
  .services .quote-btn {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
}
@media (max-width: 560px) {
  .hero .hero-content h2 {
    font-size: 3rem;
    line-height: normal;
  }
  .hero .hero-content p {
    display: none;
  }
  .infos {
    flex-direction: column;
    gap: 50px;
    justify-content: center;
    align-items: center;
  }
  .services {
    display: block;
    margin: auto;
    font-size: 2.8rem;
  }
  .services .services-content {
    margin-bottom: 50px;
  }
  .services .services-cards {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .services .services-cards .card {
    margin: 0;
  }
  .footer h3,
.footer p {
    max-width: 50%;
    text-align: center;
  }
}

/*# sourceMappingURL=styles.css.map */
